{{define "user/create-edit.html"}}

{{template "layout/header"}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="post" action="/user/store">
                <input type="hidden" name="id" value="{{.user.ID}}">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" value="{{.user.Name}}" class="form-control"
                               placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-2 control-label">Age</label>
                    <div class="col-sm-10">
                        <input type="text" name="age" value="{{.user.Age}}" class="form-control"
                               placeholder="Age">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">Sex</label>
                    <div class="col-sm-1">
                        <input type="radio" class="form-control" name="sex" value="0"  checked >未知
                        <input type="radio" class="form-control" name="sex" value="1" >男
                        <input type="radio" class="form-control" name="sex" value="2" >女
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{template "layout/footer"}}

{{end}}